.custom-modal-title {
    color: #343a40;
    font-size: 20px;
    text-align: center;
}

.custom-modal-body {
    padding: 20px;
    position: relative;
}

.custom-modal-footer {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-top: 1px solid #dee2e6;
}

.custom-btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.custom-btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

.custom-spinner-border {
    margin-right: 5px;
}

.custom-close-button {
    position: absolute;
    top: 20px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.form-modal-content .form-group {
  width: 100%;
}

.form-modal-content .form-control {
  height: 32px !important;
  border-radius: 16px !important;
}