.my-navbar {
  height: 68px;
  padding: 0 75px !important;
}

#dropdown-basic {
  background-color: #f4f4f4;
  border-color: #ccc;
  color: black;
  height: 38px;
}
.search-input {
  width: 200px;
}
.dropdown-toggle::after {
  display: none !important;
}
.btn-action {
  width: 120px;
}

.custom-dropdown-item {
  height: 60px; /* Đặt chiều cao cố định cho mỗi mục */
  width: 100%; /* Đặt chiều rộng cố định cho mỗi mục (nếu cần) */
  overflow: hidden; /* Ngăn chặn việc thay đổi kích thước */
  display: flex; /* Sử dụng flexbox để căn chỉnh nội dung */
  background: white !important;
}

.custom-dropdown-item p {
  transition: font-size 0.9s ease; /* Thêm hiệu ứng mượt cho thay đổi kích thước chữ */
  margin: 0; /* Đặt margin bằng 0 để kiểm soát khoảng cách chính xác */
}

.custom-dropdown-item:hover p {
  font-size: 1.1em; /* Tăng kích thước chữ khi hover */
  background: white !important;
  box-shadow: none;
}
.messenger-dropdown-menu, .dropdown-menu-notify, .avatar-dropdown{
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  border: 0px !important;
  border-radius: 16px !important;
}
.messege-more{
  font-size: 12px;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .my-navbar {
    padding: 0px !important;
  }
}
@media (max-width: 575.98px) {
  .my-navbar {
    height: 60px; /* Điều chỉnh chiều cao cho màn hình mobile */
    padding: 0px !important;
  }
}
