.myInput {
    color: black !important;
}
.myInput:focus {
    border: 1px solid #d9d9d9 !important;
    border-color: #d9d9d9 !important;
    box-shadow: none !important;
    background-color: #f7f7f7 !important;
}
.search-bar-component .form-control:focus {
    border-color: #d9d9d9 !important;
    box-shadow: none !important;
    outline: none !important;
}
