.switch-container {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 25px;
  }
  
  .switch-checkbox {
    display: none;
  }
  
  .switch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #e3e3e3;
    border-radius: 25px;
    margin: 0;
    transition: background-color 0.3s;
    background-color: #ccc;
  }
  
  .switch-label .switch-button {
    display: block;
    width: 20px;
    height: 20px;
    margin: 2px;
    background: #fff;
    border-radius: 50%;
    transition: transform 0.3s;
  }
  
  .switch-checkbox:checked + .switch-label {
    background-color: #4caf50;
  }
  
  .switch-checkbox:checked + .switch-label .switch-button {
    transform: translateX(24px);
  }