/* Mặc định cho màn hình lớn */
.container-layout-list {
    margin-top: 122px;
    padding: 0 85px;
}

.container-list {
    display: flex !important;
    gap: 10px !important;
    height: 42px !important;
}

.container-list .myInput {
    height: 42px !important;
}
.container-list .myInput:hover {
    background: #f7f7f7;
}

.btn-filter {
    padding: 8px 15px;
    border: 1px solid #d9d9d9 !important;
    font-weight: 400 !important;
    font-size: 12px !important;
}
.btn-filter:hover {
    background-color: #f7f7f7 !important;
}
.search-list-container .searchBar-list {
    height: 42px !important;
    border-top-right-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
}

.searchBar-list:focus {
    height: 42px;
    border-left: 0px;
}
.searchBar-list:hover {
   background-color: #f7f7f7 ;
}

.search-icon-list {
    border: 1px solid #ccc !important;
    border-right: 0 !important;
}

.search-list-container {
    flex: 8;
}

.location-container {
    flex: 3;
}

.btn-filter {
    flex: 1;
    background: white;
    color: black;
}

.container-layout {
    margin: 0 85px;
    display: flex;
    background: red;
}

.searchBar-list {
    border-left: 0 !important;
}

.searchBar-lis:focus {
    border-left: 0 !important;
}

.search-filter {
    flex: 3 !important;
}

/* Event modal */
.title-modal {
    font-size: 20px !important;
    font-weight: 600;
}

.eventInfo {
    font-size: 24px !important;
    font-weight: 700;
}

#startAt,
#endAt {
    width: 48% !important;
}

#startAt {
    margin-right: 2% !important;
}

#endAt {
    margin-left: 2% !important;
}

.event-image {
    width: 746px;

}

#eventImage {
    width: 260px;
    height: 44px !important;
}

.upload-img {
    color: black !important;
    border-radius: 20px !important;
    border: 2px #ccc dashed !important;
    background-color: #F2F7FF !important;
}

.upload {
    color: #00A3FF;
}

.form-input {
    border-radius: 20px !important;
}

.input-des {
    height: 104px !important;
}

.upload-image {
    justify-items: center;
    width: 260px;
    height: 44px !important;
}

/* Ensure border remains black on focus */
.search-list-container .searchBar-list,
.location-container .FormControl .myInput {
    border-color: #d9d9d9 !important;
    color: black !important;
}

.search-list-container .searchBar-list:focus,
.location-container .FormControl:focus,
.search-icon-list:focus {
    border-color: #d9d9d9 !important;
    /* Keeps border black on focus */
    box-shadow: none !important;
    /* Removes any focus outline or shadow */
    background-color: #f7f7f7 !important;
}

.search-icon-list {
    border-color: #d9d9d9 !important;
}

.upload-button {
    width: 50%;
    border-style: dashed;
    background-color: #f2f7ff;
}

.upload-placeholder {
    height: 100px;
    width: 100px;
    border-radius: 5px;
}

.upload-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}

.event-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 50px;
}

.view-icon,
.delete-icon {
    color: white;
    cursor: pointer;
    position: absolute;
    top: 40%;
    font-size: 32px;
    border-radius: 50%;
    padding: 3px;
}

.view-icon {
    right: 50%;
}

.delete-icon {
    right: 25%;
}

@media (max-width: 1024px) {
    .container-list {
        padding: 0 30px;
    }

    .container-layout-list {
        margin-top: 122px;
        padding: 0 15px;
    }

    .propose {
        display: none;
    }

    .search-icon-list,
    .searchBar-list {
        height: 30px !important;
        font-size: 12px;
    }

    .btn-filter {
        height: 30px;
        padding: 8px;
        font-size: 12px;
        color: gray;
    }
}

@media (max-width: 480px) {
    .container-list {
        padding: 0 10px;
    }

    .container-layout-list {
        margin-top: 75px;
    }

    .btn-filter {
        flex: 0 0 auto;
        padding: 6px;
    }

    .searchBar-list {
        height: 30px !important;

    }
}