/* Mặc định cho màn hình lớn */
.container-layout-list {
    margin-top: 122px;
    padding: 0 85px;
}

.container-list {
    display: flex !important;
    gap: 10px !important;
    height: 42px !important;
}

.container-list .myInput {
    height: 42px !important;
}

.btn-filter {
    padding: 8px 15px;
}

.search-list-container .searchBar-list {
    height: 42px !important;
    border-top-right-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
}

.searchBar-list:focus {
    height: 42px;
    border-left: 0px;
}

.search-icon-list {
    border: 1px solid #ccc !important;
    border-right: 0 !important;
}

.search-list-container {
    flex: 8;
}

.location-container {
    flex: 3;
}

.btn-filter {
    flex: 1;
    background: white;
    color: black;
}

.container-layout {
    margin: 0 85px;
    display: flex;
    background: red;
}

.searchBar-list {
    border-left: 0 !important;
}

.searchBar-lis:focus {
    border-left: 0 !important;
}

.search-filter {
    flex: 3 !important;
}

/* Event modal */
.title-modal {
    font-size: 20px !important;
    font-weight: 600;
}

.eventInfo {
    font-size: 24px !important;
    font-weight: 700;
}

.event-image {
    width: 746px;

}

#eventImage {
    width: 260px;
    height: 44px !important;
}

.upload-img {
    color: black !important;
    border-radius: 20px !important;
    border: 2px #ccc dashed !important;
    background-color: #F2F7FF !important;
}

.upload {
    color: #00A3FF;
}

.form-input {
    border-radius: 20px !important;
}

.input-des {
    height: 104px !important;
}

.upload-image {
    justify-items: center;
    width: 260px;
    height: 44px !important;
}

/* Ensure border remains black on focus */
.search-list-container .searchBar-list,
.location-container .FormControl .myInput {
    border-color: rgb(156, 145, 145) !important;
}

.search-list-container .searchBar-list:focus,
.location-container .FormControl:focus,
.search-icon-list:focus {
    border-color: black !important;
    /* Keeps border black on focus */
    box-shadow: none !important;
    /* Removes any focus outline or shadow */
}

.search-icon-list {
    border-color: black !important;
}


@media (max-width: 1024px) {
    .container-list {
        padding: 0 30px;
    }

    .container-layout-list {
        margin-top: 122px;
        padding: 0 15px;
    }

    .propose {
        display: none;
    }

    .search-icon-list,
    .searchBar-list {
        height: 30px !important;
        font-size: 12px;
    }

    .btn-filter {
        height: 30px;
        padding: 8px;
        font-size: 12px;
        color: gray;
    }
}

@media (max-width: 480px) {
    .container-list {
        padding: 0 10px;
    }

    .container-layout-list {
        margin-top: 75px;
    }

    .btn-filter {
        flex: 0 0 auto;
        padding: 6px;
    }

    .searchBar-list {
        height: 30px !important;

    }
}