.tour-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .tour-card img {
    object-fit: cover;
    height: 100%;
  }
  
  .tour-card .card-title {
    font-size: 1.25rem;
    font-weight: 600;
  }
  
  .tour-card .card-text {
    font-size: 14px;
    color: black;
    font-weight: 500;
  }
  
  .tour-card .text-muted {
    font-size: 0.85rem;
    color: #888;
  }

.settings-icon {
    padding-left: 1rem;
    padding-right: 1rem;
    border: 1px solid #ddd;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.settings-icon-inner {
    font-size: 24px;
    color: black;
    cursor: pointer;
}
