.eventlist-card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.event-card-image {
    width: 100%;
    height: 193px;
    /* Chiều dài cố định */
    object-fit: cover;
    /* Phóng to và cắt ảnh nếu tỷ lệ không phù hợp */
    object-position: center;
    /* Căn giữa ảnh để giữ vùng trọng tâm */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid gray;
}



.event-card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.event-title {
    font-size: 20px !important;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    margin-bottom: 4px;
}


.event-card-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    font-size: 12px;
    margin-bottom: 15px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 1;
    line-clamp: 2;
}

.location-and-members {
    padding: 0px;
    display: flex;
    justify-content: space-between;
    font-size: 13px;
}


.eventlist-pagination {
    margin-top: 1rem;
}


.eventlist-card .location-and-members {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    margin-bottom: 8px;
}


.btn-join {
    margin-top: auto !important;
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    width: 100%;
    height: 34px;
}

.btn-join ion-icon {
    font-size: 18px;
}

.btn-join div {
    display: flex;
    align-items: center;
}

.btn-text {
    flex-grow: 1;
    text-align: center;
}




.fontsize-popular {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}

@media (max-width: 1024px) {
    .btn-join {
        margin-top: 10px;
    }

    .btn-join {
        font-size: 70%;
    }

    .icon-join {
        font-size: 18px;
    }

    .event-card-info {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        -webkit-line-clamp: 1;
        line-clamp: 1;
        margin-bottom: 4px;
    }
}

@media (max-width: 768px) {}