.form_builder .modal-content {
  width: 1000px !important; /* Increased width */
  height: 100% !important; /* Increased height */
}

.custom-modal-formbuilder .modal-dialog {
  max-width: 1000px;
}

.custom-modal-formbuilder .modal-content {
  height: 95vh !important; /* Increased height */
}