.form_builder .modal-content {
  width: 897px !important; 
  height: 100% !important; 
}

.custom-modal-formbuilder .modal-dialog {
  max-width: 897px;
}

.custom-modal-formbuilder .modal-content {
  height: 95vh !important;
}