.nav-link-custom-setting {
    color: #000 !important;
}

.nav-link-custom-setting:hover,
.nav-link-custom-setting:focus,
.nav-link-custom-setting.active {
    color: #34A853 !important;
}

/* Form */
.form-group .form-label {
    margin-right: 8px;
}

.form-group.d-flex.align-items-center .form-label {
    width: 12.3%;
}

#account-info .form-label {
    width: 30%;
}

#account-details .form-label,
#contact-info .form-label,
#emergency-contact .form-label {
    width: 15%;
}

textarea {
    height: auto;
    resize: none;
}

/* Phần Ghi chú */
textarea[placeholder="Ghi chú"] {
    min-height: 120px;
}

/* Nút lưu */
button.mt-3 {
    background-color: #28a745;
    border: none;
}

button.mt-3:hover {
    background-color: #218838;
}



/* Upload ảnh */

.image-upload-wrapper {
    position: relative;
    margin-bottom: 20px;
}

.image-upload-wrapper p {
    font-weight: bold;
    margin-bottom: 5px;
}

.image-upload {
    position: relative;
    width: 100%;
    height: 150px;
    border: 2px dashed #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #f9f9f9;
}

.upload-icon {
    display: none;
    font-size: 30px;
    color: #666;
}

.image-upload:hover .upload-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-upload input {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.uploaded-image img {
    width: 100%;
    height: 180px !important;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}