.group-title {
  font-size: 20px;
  font-weight: bold;
  margin: 20px 0;
}

.card-group-container {
  padding: 18px;
  height: 92px;
  border-radius: 10px;
}

.card-img {
  width: 82px;
  height: 55px;
  object-fit: cover;
}

.card-title {
  font-size: 18px;
  font-weight: 500;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 160px;
}

.card-text {
  font-size: 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 160px;
}

@media (max-width: 1024px) {
  .card-group-container {
    height: 63px !important;
    padding: 8px !important;
  }
  .card-img {
    height: 45px !important;
    width: 60px !important;
  }
  .card-title {
    font-size: 12px !important;
    margin: 0px !important;
    margin-bottom: 3px !important;
    max-width: 110px !important;
  }
}

@media (max-width: 768px) {
   
}
