.images_post_container img{
    border-radius: 10px;
    height: 300px;
    width: 300px;
    object-fit: cover;
}
.images_post_container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.post_title{
    height: 105px;
}
.button_upload_images{
    border: 1px dashed #7BA2E7;
    background: #F2F7FF;
    padding: 6px 30px;
}
.button_upload_images:hover{
    border: 1px dashed #7BA2E7;
}
.form_edit_post .mybutton{
    margin: 0;
    padding: 0;
    text-align: start;
    border: 0;
}
.form_edit_post .mybutton:hover{
   color: black;
   background: transparent;
}
.button_action_comment{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    padding: 0;
}