:root {
    --slider-color: black; /* Green color */
}

.circle-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.range-container {
    position: relative;
    height: 40px;
}

.custom-range {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
}

.custom-range::-webkit-slider-thumb {
    pointer-events: all;
    width: 20px;
    height: 20px;
    background: var(--slider-color);
    border-radius: 50%;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
}

.custom-range::-moz-range-thumb {
    pointer-events: all;
    width: 20px;
    height: 20px;
    background: var(--slider-color);
    border-radius: 50%;
    cursor: pointer;
}

.custom-range::-ms-thumb {
    pointer-events: all;
    width: 20px;
    height: 20px;
    background: var(--slider-color);
    border-radius: 50%;
    cursor: pointer;
}

.custom-range::-webkit-slider-runnable-track {
    height: 8px;
    background: var(--slider-color) !important;
}

.custom-range::-moz-range-track {
    height: 8px;
    background: var(--slider-color) !important;
}

.custom-range::-ms-track {
    height: 8px;
    background: var(--slider-color) !important;
    border-color: transparent;
    color: transparent;
}

.custom-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: var(--slider-color) !important;
    cursor: pointer;
}

.star-range::-webkit-slider-runnable-track {
    height: 8px;
    background: var(--slider-color) !important;
}

.star-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: var(--slider-color) !important;
    cursor: pointer;
}

.form-check-input {
    width: 20px !important;
    height: 20px !important;
    margin-right: 10px !important;
}