.modal_extraDetailForm .modal-dialog {
    width: 250% !important;
}
.modal_extraDetailForm .modal-content {
    width: 250% !important;
    height: 95vh !important;
    overflow: hidden;
    left: -70%;
}

.modal_extraDetailForm .modal-body {
    height: calc(100% - 120px); /* Adjust based on header and footer height */
    overflow-y: auto;
    text-align: left; /* Align text to the left */
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the start (left) */
    padding: 30px; /* Add padding for better spacing */
}

.modal_extraDetailForm .modal-body .modal-title {
    width: 100%;
    text-align: center; /* Center the text */
}
.upload_image_create_trip {
    min-height: 100px;
    max-height: 300px;
    border: 1px dashed #ced4da;
    border-radius: 5px;
    cursor: pointer;
}
.upload_image_create_trip img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
.container_create_trip {
    height: 100%;
}
.ql-container {
    height: 400px !important; /* Adjust the height as needed */
}

.form_create_tour .form-label{
    width: 30%;
}
.location_createtour .form-label{
    width: 30%;
}
.form_create_tour .select_location_component{
    display: flex;
    margin-bottom: 15px;
}
.form_create_tour .form-control{
    height: 38px !important;
}
