.form-group-custom-create-tour {
    display: flex !important;
    align-items: center;
}

.form-group-custom-create-tour .form-label {
    width: 150px; /* Set a fixed width for labels */
    margin-bottom: 0; /* Remove bottom margin */
}

.form-group-custom-create-tour .form-control {
    flex: 1; /* Allow input to take the remaining space */
}
